[performance]
cores:                      2
memory:                     2

[softwares]
bedtools:                   /usr/bin/bedtools
sort:                       /usr/bin/sort
gnuplot:                    /usr/bin/gnuplot